<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>{% if page.title %}{{ site.title | escape }} | {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="keywords" content="Design,industrial,product,UX,3D,2D,Art,sketching,woodworking,making,building,portfolio,photography,branding, startup, edtech, education, education technology">
    <meta name="author" content="Albert Topdjian">
    <link rel="icon" type="image/png" href="http://alberttopdjian.com/img/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="http://alberttopdjian.com/img/favicon.png" />
    <link rel="apple-touch-icon" type="image/png" href="http://alberttopdjian.com/img/favicon.png" />
    <link rel="apple-touch-icon" type="image/png" href="http://alberttopdjian.com/img/favicon.png" sizes="76x76" />
    <link rel="apple-touch-icon" type="image/png" href="http://alberttopdjian.com/img/favicon.png" sizes="120x120" />
    <link rel="apple-touch-icon" type="image/png" href="http://alberttopdjian.com/img/favicon.png" sizes="152x152" /> 

    <link rel="stylesheet" href="{{ " /css/web.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/gallery.css " | prepend: site.baseurl }}"> 
    <link rel="stylesheet" href="{{ " /css/albert.css " | prepend: site.baseurl }}">
    
    
    <link rel="apple-touch-icon" sizes="57x57" href="/img/albertfavicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/albertfavicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/albertfavicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/albertfavicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/albertfavicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/albertfavicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/albertfavicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/albertfavicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/albertfavicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/albertfavicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/albertfavicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/albertfavicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/albertfavicon.ico/favicon-16x16.png">
    <link rel="manifest" href="/img/albertfavicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/albertfavicon.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}">
</head>