<div class="off-canvas position-left reveal-for-large side-nav" id="my-info" data-off-canvas data-position="left">
  <div class="row column">
   <div class="nav-content">
        <ul class="nav-labels no-bullet">
            <li><a href="../index.html">Works</a></li>
            <li><a href="../tidbits">Tidbits</a></li>
            <li><a href="../about">About</a></li>
        </ul>

        <div class="nav-footer">
            <div class="social">
                <a target="_blank" href="https://www.linkedin.com/in/alberttopdjian/"><img class="social-icon" src="../img/social/linkedin.svg"></a>
                <a target="_blank" href="https://twitter.com/alberttopdjian"><img class="social-icon" src="../img/social/twitter.svg"></a>
                <a target="_blank" href="https://medium.com/@alberttopdjian"><img class="social-icon" src="../img/social/medium.svg"></a>
            </div>
            <div class="name">
                Albert Topdjian 2017
            </div>
        </div>
        </div>
  </div>
</div>